Here is the text which you need to perform an in-depth analysis:
{{ selected_text }}

Below is a history of all previous dialogues, and you need to consider the history of all previous dialogues when answering the questions:
{{ history }}

Please answer the following questions based on an in-depth analysis of the entire text and the given passage, and in the context of the history of the previous dialogue:
{{ query }}